---
import BaseLayout from "../layouts/BaseLayout.astro";
import about from "../data/about";
import HeaderCollage from "../components/HeaderCollage.astro";
import Content3 from "../components/Content3.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

const { data } = about;

// Breadcrumb data
const breadcrumbs = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
];
---

<BaseLayout
  title={data.pageTitle}
  description={data.pageDescription}
  keywords={data.pageKeywords}
>
  <!-- HEADER -->
  <HeaderCollage data={data.header} />

  <div class="bg-white py-4">
    <div class="container mx-auto px-4">
      <Breadcrumbs items={breadcrumbs} />
    </div>
  </div>

  <Content3 data={data.ourMission} />

  <!-- CTA ContactUs -->
</BaseLayout>
